* {
  padding: 0;
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

html,
body {
  scroll-behavior: smooth;
  background: #101010;
  color: #ffffff;
}
body {
  overflow-x: hidden;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4em;
  line-height: 1.2;
}
h2 {
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: bold;
  width: 85%;
  display: inline-block;
}
p {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 20px;
}
span {
  font: inherit;
}
a,
a:visited {
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s color;
}
a:hover {
  color: #ffacbb;
}
p a {
  text-decoration: underline;
}
img,
svg {
  vertical-align: middle;
}
img {
  max-width: 100%;
}
svg {
  overflow: visible;
}
li,
ul {
  list-style-type: none;
}

section {
  width: 100%;
  position: relative;
}
.container {
  position: relative;
  padding: 100px 120px;
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}

.posabs {
  position: absolute;
}
.posrel {
  position: relative;
}
.flex {
  display: flex;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #b1475a;
}

::selection {
  color: #ffffff;
  background: #b1475a;
}

/*NAVBAR STYLING*/
.navbar {
  position: fixed;
  width: 100%;
  height: 0;
  top: 0;
  justify-content: space-between;
  z-index: 10000;
}
.icons,
nav {
  padding-top: 60px;
}
.icons {
  display: flex;
  flex-direction: column;
}
.icons a:not(:last-child) {
  margin-bottom: 20px;
}
.icons svg {
  display: block;
  width: 15px;
  height: 16px;
  transition: 0.3s height, 0.3s opacity;
}
.navbar .icons {
  padding-left: 50px;
}
.icons.inview a {
  margin-bottom: 0;
  pointer-events: none;
  transition: 0.1s margin-bottom;
  transition-delay: 2s;
}
.inview svg {
  height: 0;
  opacity: 0;
}
.navbar a:hover svg path {
  stroke: #ffacbb;
}
nav {
  padding-right: 50px;
}
.burger {
  width: 25px;
  position: relative;
  z-index: 10000000;
  cursor: pointer;
}
.burger .line {
  height: 1px;
  background-color: #ffffff;
  transition: opacity 0.2s, transform 0.2s, background-color 0.2s;
}
.burger .line:nth-child(2) {
  margin: 8px auto;
  margin-right: 0;
  width: 66%;
}
.burger .line:nth-child(3) {
  width: 33%;
  margin: 0 auto;
  margin-right: 0;
}

.clicked .burger .line {
  background-color: #ffffff;
}
.clicked .burger .line:first-child {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.clicked .burger .line:last-child {
  width: 100%;
  transform: rotate(45deg) translate(-5px, -5px);
}
.clicked .burger .line:nth-child(2) {
  opacity: 0;
}

.menu {
  background-color: #191919;
  right: 20px;
  padding: 30px;
  padding-top: 100px;
  border-radius: 20px;
  text-align: right;
  overflow-x: hidden;
  transform: translateY(-100%);
  top: 0;
  width: 300px;
  transition: 0.3s transform, 0.3s top;
}
.clicked .menu {
  top: 30px;
  transform: translateY(0);
}
.reveal span:last-child {
  display: none;
  overflow-wrap: anywhere;
}
.reveal:hover span {
  color: #ffacbb;
}
.reveal:hover span:first-child {
  display: none;
}
.reveal:hover span:last-child {
  display: inline-block;
}
.artsy {
  position: absolute;
}
.artsy svg {
  overflow: visible;
}
.menu .artsy {
  left: -8px;
  top: 20px;
}
.menu .artsy svg {
  width: 50px;
  height: auto;
}
.menu ul {
  margin-top: 10px;
  font-weight: bold;
}
.menu ul li:not(:last-child) {
  margin-bottom: 10px;
}
.menu a {
  font-weight: bold;
}
li.active a {
  color: #b1475a;
}
li.active a::before {
  content: "//";
}

/*HOME SECTION STYLING*/
#home {
  height: 95vh;
  min-height: 620px;
  max-height: 840px;
  width: 100%;
  display: flex;
  align-items: center;
}
#home .artsy {
  right: -7px;
  bottom: -100px;
}
#home .artsy svg {
  width: 520px;
  height: auto;
}
.headline {
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
.headline span {
  padding-right: 5px;
}
.headline span::after {
  content: "";
  display: inline-block;
  background-image: url("../img/cross.svg");
  width: 10px;
  height: 10px;
  background-size: contain;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.arrow {
  margin-top: 50px;
}
.arrow svg {
  display: block;
  transition: 0.3s margin-top;
}
.arrow a:hover svg path {
  stroke: #ffacbb;
}
.arrow a:hover svg {
  margin-top: 10px;
}

/*PORTFOLIO SECTION STYLING*/
.bkg {
  position: absolute;
  background: #222222;
  width: 100%;
  min-height: 10px;
  border-radius: 20px;
}
.bkg .posrel {
  height: 100%;
}
#portfolio .bkg {
  height: 77%;
  right: 30px;
  transition: 0.4s height;
}
.btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b1475a;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: 0.3s background-color;
}
.bkg .btn {
  right: 25px;
  bottom: -20px;
}
.btn:hover {
  background-color: #ffacbb;
}
.btn img {
  width: 14px;
}
.default {
  display: block;
  padding-left: 2px;
}
.cancel {
  display: none;
}
.page.active {
  display: block;
}
.gallery-wrapper {
  max-height: 370px;
  overflow: hidden;
  position: relative;
  transition: 0.5s max-height;
}
.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  max-height: 320px;
  transition: 0.5s max-height;
}
.image {
  position: relative;
  height: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s background-size;
}
.image:hover {
  background-size: 120%;
}
.overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #b1475a;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s opacity;
}
.overlay:hover {
  opacity: 0.94;
}
#popup {
  display: none;
}
.close-div {
  margin-bottom: 10px;
  position: absolute;
  right: -65px;
}
.close-div.two {
  margin-bottom: 0;
}
/*expand and img-expand styling*/
.expand,
.img-expand {
  margin-bottom: 120px;
}
.expand .default {
  display: none;
}
.expand .cancel {
  display: block;
}
#portfolio.expand .bkg,
#portfolio.img-expand .bkg {
  height: 100%;
}
.expand .gallery-wrapper {
  max-height: 100%;
}
.expand .gallery {
  max-height: 1335px;
  overflow: scroll;
}
.expand .btn {
  bottom: 30px;
}
.img-expand .bkg {
  height: 100%;
}
.img-expand .gallery-wrapper,
.img-expand .gallery {
  max-height: 0;
  overflow: hidden;
}
.img-expand #expbtn {
  display: none;
}
.img-expand #popup {
  display: block;
}
.description a {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 5px;
  color: #101010;
  position: relative;
  z-index: 2;
  width: 100%;
}
.description a::after {
  content: "";
  display: inline-block;
  position: absolute;
  min-width: 1800px;
  width: 130%;
  height: 40px;
  left: -85px;
  border-radius: 25px;
  background-color: #838383;
  z-index: -1;
  top: -5px;
}
.description p {
  margin-top: 20px;
}
.popup-img {
  min-height: 350px;
  background-color: #838383;
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  border-radius: 10px;
  text-align: center;
}
.popup-img img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

/*ABOUT SECTION STYLING*/
#about .bkg {
  height: 100%;
  left: 30px;
}
.text {
  width: 65%;
  display: inline-block;
}
.sketch {
  width: 225px;
  max-width: 26%;
  margin-left: 5%;
  display: inline-block;
}
.sketch img {
  vertical-align: unset;
}
.links {
  margin-bottom: 0;
}
.links a {
  /*font-weight: bold;*/
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 17px;
  text-decoration: none;
  transition: 0.3s color;
}
.links a::before {
  content: ">";
  display: inline-block;
  margin-right: 10px;
  transition: 0.3s margin-right;
}
.links a:hover {
  color: #ffacbb;
}
.links a:hover::before {
  margin-right: 15px;
}
#about .posrel {
  height: 100%;
  display: inline-flex;
  align-items: flex-end;
  z-index: 10;
}
#about .icons {
  margin-bottom: -20px;
  margin-left: 25px;
}
#about .icons a {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #b1475a;
  border-radius: 50%;
  transition: 0.3s background-color;
}
#about .icons a:hover {
  background-color: #ffacbb;
}

footer p,
footer a {
  font-size: 12px;
  font-weight: 400;
}
footer p {
  margin: 10px 0;
}
footer a {
  text-decoration: none;
}

/*MORE PAGES*/
.banner {
  width: 100%;
  height: 300px;
  margin-top: 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 0;
  background-image: none;
  animation: toright 0.5s ease, opacityspec 0.2s;
}
.banner a {
  text-decoration: underline;
}
.more section {
  animation: opacity 0.5s;
}
.more .overlay {
  background-color: #222222;
  opacity: 1;
  border-radius: 20px;
  margin-left: -30px;
}
.banner-img {
  bottom: 0;
  width: 100%;
  z-index: 20;
}
.banner-img .posrel {
  height: 120px;
  width: 84%;
  max-width: 1460px;
  margin: 0 auto;
  background-color: #ffacbb;
  border-radius: 20px 20px 0 0;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  background-position-y: 0;
}
.more .heading {
  z-index: 10;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}
.more h1 {
  color: #b1475a;
  margin-top: 5px;
}
.more .container img {
  margin: 5px 0;
  width: 100%;
}
.more h3 {
  font-weight: 600;
  margin-bottom: 5px;
  letter-spacing: 2px;
  display: flex;
  margin-bottom: 20px;
}
.more p {
  margin: 20px 0;
}
.more footer p {
  margin: 10px 0;
}
.more section .container {
  padding-bottom: 0;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #b1475a;
  cursor: pointer;
  transition: 200ms background-color;
}
#myBtn img {
  margin-top: -4px;
}

/*ANIMATION*/
@keyframes drawstroke {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes opacityspec {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes toright {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes toleft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
#home .artsy svg path {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  pointer-events: none;
  animation: drawstroke 0.6s linear forwards;
}
#home .artsy svg #ellipse_1 {
  animation-delay: 0.6s;
}
#home .artsy svg circle,
.hero {
  animation: opacityspec 1.2s linear forwards;
}
#portfolio .bkg {
  animation: toright 0.4s ease-in 1.18s, opacityspec 1.3s;
}
.page {
  animation: opacityspec 1.8s;
}
.bkg.right {
  transform: translateX(100%);
}
.nojs .bkg.right {
  transform: translateX(0%);
}
#about .bkg.anim {
  animation: toleft 0.4s ease-in, opacityspec 0.2s;
}
.nojs #about .bkg {
  opacity: 1;
  transform: translateX(0%);
}
/*END ANIMATION*/

@media screen and (min-width: 601px) {
  html,
  body {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1500px) {
  #home h1 {
    display: inline-block;
  }
  .bkg {
    width: 98%;
  }
  #portfolio .bkg {
    left: 0;
    right: unset;
    border-radius: 0 20px 20px 0;
  }
  #about .bkg {
    right: 0;
    left: unset;
    border-radius: 20px 0 0 20px;
  }
  .text {
    position: relative;
    z-index: 99;
  }
  .sketch {
    position: relative;
    z-index: 80;
  }
  .gallery,
  .expand .gallery {
    overflow: hidden;
  }
}
@media screen and (min-width: 1700px) {
  .container {
    margin: 0.5% auto;
  }
  .bkg .posrel {
    width: 1690px;
    margin: 0 auto;
  }
  .bkg .btn {
    right: 0;
  }
  #about .posrel {
    display: grid;
  }
  #about .icons {
    margin-left: 0;
    width: 40px;
  }
  .banner-img {
    padding: 0 4%;
  }
  #myBtn {
    right: 5%;
  }
}

@media screen and (max-width: 1240px) {
  nav {
    padding-right: 35px;
  }
  .navbar .icons {
    padding-left: 35px;
  }
  .container {
    padding: 80px 7%;
  }
  #portfolio .bkg {
    right: 20px;
  }
  .expand,
  .img-expand {
    margin-bottom: 90px;
  }
  .image {
    height: 250px;
  }
  .gallery {
    max-height: 255px;
    gap: 30px;
  }
  .expand .gallery {
    max-height: 1200px;
  }
  .close-div {
    right: -45px;
  }
  .description a::after {
    left: -50px;
  }
  .bkg .btn {
    right: 10px;
  }
  #about .bkg {
    left: 20px;
  }
  #about .posrel {
    margin-left: -0.6%;
  }
  #about .icons {
    margin-left: 0;
    position: relative;
    z-index: 100;
  }
  #about .icons a:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1045px) {
  .gallery {
    width: 98%;
  }
  .description a::after {
    width: 1100px;
    left: -25px;
  }
  .close-div {
    right: -35px;
  }
  .close-div.two {
    bottom: -50px;
  }
}

@media screen and (max-width: 910px) {
  #home .artsy svg {
    width: 460px;
  }
  #home .artsy svg path {
    animation: drawstroke 0.55s linear forwards;
  }
  #home .artsy svg #ellipse_1 {
    animation-delay: 0.55s;
  }
  #home .artsy svg circle,
  .hero {
    animation: opacityspec 0.9s linear forwards;
  }
  #portfolio .bkg {
    height: 75%;
    animation: toright 0.4s ease-in 0.88s, opacityspec 1s;
  }
  .page {
    animation: opacityspec 1.4s;
  }
  .image {
    height: 200px;
  }
  .gallery {
    max-height: 205px;
    width: 95%;
  }
  .expand .gallery {
    max-height: 900px;
  }
  #about .posrel {
    margin-left: -1%;
  }
  .text {
    margin-left: 1.5%;
    width: 55%;
  }
  .sketch {
    max-width: 35%;
    width: 35%;
    min-width: 100px;
    margin-left: 4%;
  }
}

@media screen and (max-width: 810px) {
  h1 {
    font-size: 3.8em;
  }
  .more h1 {
    padding: 0 20px;
  }
  #portfolio .container {
    overflow: hidden;
  }
  .gallery {
    grid-template-columns: auto auto;
  }
  .expand .gallery {
    max-height: 750px;
  }
  .expand .gallery-wrapper {
    max-height: 880px;
  }
  .img-expand .gallery-wrapper,
  .img-expand .gallery {
    max-height: 0;
  }
  .close-div {
    right: -20px;
  }
  .text {
    display: block;
    width: 100%;
    margin: 0 0;
  }
  .sketch {
    width: 100%;
    max-width: 100%;
    display: block;
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
  .sketch img {
    width: 90%;
  }
  #about .posrel {
    align-items: end;
    margin-left: 30px;
  }
  #about .icons {
    padding-top: 0;
    margin: 0 0;
    padding-bottom: 30px;
  }
  #home .artsy {
    display: none;
  }
  .hero {
    animation: opacity 0.3s ease-in;
  }
  #portfolio .bkg {
    animation: toright 0.4s ease-in 0.2s, opacityspec 0.25s;
  }
  .page {
    animation: opacityspec 0.7s;
  }
}

@media screen and (max-width: 600px) {
  body.clicked {
    overflow: hidden;
    max-height: 101vh;
    background: #191919;
  }
  h1 {
    font-size: 3em;
  }
  .container,
  .banner {
    padding: 50px 5%;
  }
  .navbar {
    position: absolute;
  }
  .icons {
    flex-direction: row;
    padding-bottom: 0;
  }
  .icons a:not(:last-child) {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .navbar .icons a:not(:last-child) {
    margin-right: 20px;
  }
  .navbar .icons {
    padding-left: 5%;
    min-height: 10px;
  }
  .navbar .icons a {
    height: 25px;
  }
  .navbar .icons svg {
    width: 25px;
    height: auto;
  }
  nav {
    position: fixed;
    right: 0;
    padding-right: 2%;
    margin-right: 2%;
  }
  .clicked nav {
    width: 100%;
    margin-right: 0;
  }
  .clicked .burger {
    margin-left: auto;
    margin-right: 0;
  }
  .menu {
    width: 100%;
    height: 100vh;
    min-height: 300px;
    left: 0;
    right: 0;
    border-radius: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: width 0.3s ease-in;
    transition-delay: 2s;
  }
  .menu li,
  .menu a {
    font-size: 20px;
  }
  .menu ul li:not(:last-child) {
    margin-bottom: 20px;
  }
  .clicked .menu {
    top: 0;
    right: 0;
    left: 0;
    transition: none;
  }
  .menu .artsy {
    width: 30%;
  }
  .menu .artsy svg {
    width: 100%;
  }
  .scroll nav {
    width: 100%;
    background: #101010;
    padding: 25px 20px;
    margin-right: 0;
    left: 0;
  }
  .scroll .burger {
    margin-left: auto;
    margin-right: 0;
  }
  #home {
    min-height: 490px;
    max-height: 660px;
  }
  #home .container {
    padding-top: 100px;
  }
  #portfolio {
    margin-bottom: 0;
  }
  .bkg,
  #portfolio .bkg,
  #about .bkg,
  #about .bkg.anim {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    border-radius: 0 0 0 0;
    animation: none;
  }
  .bkg.right {
    transform: translateX(0);
  }
  #portfolio .bkg {
    background: linear-gradient(
      to bottom,
      #101010 0%,
      #101010 30%,
      #222222 95%
    );
  }
  .gallery {
    grid-template-columns: auto;
    width: 100%;
  }
  .gallery,
  .gallery-wrapper {
    max-height: 700px;
  }
  .expand .gallery {
    max-height: 1030px;
  }
  .expand .gallery-wrapper {
    max-height: 1230px;
  }
  .img-expand .gallery-wrapper,
  .img-expand .gallery {
    max-height: 0;
  }
  .description a::after {
    width: 400px;
    left: -10px;
  }
  .close-div {
    right: 0;
  }
  .close-div.two {
    margin-top: 10px;
  }
  .image {
    height: 300px;
  }
  .popup-img {
    min-height: 285px;
  }
  .bkg .btn {
    bottom: 0;
    right: 20px;
  }
  #about .bkg {
    background: linear-gradient(
      to bottom,
      #222222 0%,
      #222222 30%,
      #101010 95%
    );
  }
  #about .posrel {
    margin-left: 5%;
  }
  #about .icons {
    padding-bottom: 0;
    padding-top: 5px;
  }
  .banner {
    height: 350px;
    margin: 0 0;
    flex-direction: column;
    padding-bottom: 0;
    justify-content: flex-end;
  }
  .more .overlay {
    margin: 0 0;
    border-radius: 0;
  }
  .more .heading {
    margin: 30px 0;
  }
  .banner-img {
    position: relative;
    bottom: unset;
  }
  .banner-img .posrel {
    width: 100%;
  }
  #portfolio .bkg {
    animation: none;
  }
  .hero,
  .page {
    animation: opacity 0.3s;
  }
}

@media screen and (max-width: 500px) {
  p {
    font-size: 13px;
  }
  .headline span::after {
    width: 0;
    opacity: 0;
  }
  .headline span {
    display: block;
    margin-bottom: 5px;
  }
  .close-div.two {
    display: none;
  }
}

.expand.img-expand .gallery-wrapper,
.expand.img-expand .gallery {
  max-height: 0;
}

/*ERROR PAGE*/
.error404 header {
  display: none;
}
#page404 .icons {
  flex-direction: row;
  padding-bottom: 0;
}
#page404 .icons a {
  margin-right: 20px;
}
#page404 .container {
  padding-top: 60px;
}
#page404 .bkg {
  left: 30px;
  height: 180px;
}
#page404 .headline,
#page404 ul {
  position: relative;
}
#page404 .headline {
  margin-bottom: 100px;
  padding-top: 55px;
}
#page404 h1 {
  font-size: 2.5em;
}
#page404 p {
  margin: 0 0;
}
#page404 ul li {
  margin: 10px 0;
}
@media screen and (max-width: 910px) {
  #page404 h1 {
    font-size: 2em;
  }
  #page404 .bkg {
    left: 10px;
    height: 150px;
    width: 110%;
  }
  #page404 .headline {
    padding-top: 40px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 600px) {
  #page404 .bkg {
    left: 0;
    height: 190px;
  }
}

/*ADDING FIXED POSITION TO CLOSE BUTTON*/
.close-div.two {
  display: none;
}
.fixed {
  position: fixed;
  right: 55px;
  bottom: 130px;
  z-index: 110;
  margin-bottom: 0;
}
.fixedbtm {
  bottom: -50px;
  margin-bottom: 0;
}
@media screen and (min-width: 1760px) {
  .fixed {
    right: 6%;
  }
}
@media screen and (max-width: 1240px) {
  .fixed {
    right: 35px;
  }
}
@media screen and (max-width: 1065px) {
  .fixed {
    right: 15px;
  }
}
@media screen and (max-width: 1045px) {
  .popup-img {
    width: 98%;
  }
  .fixed {
    right: 30px;
  }
}
@media screen and (max-width: 840px) {
  .fixed {
    right: 20px;
  }
}
@media screen and (max-width: 600px) {
  .fixed {
    right: 10px;
    bottom: 60px;
  }
  .popup-img {
    width: 100%;
  }
}
@media screen and (max-height: 400px) {
  .icons,
  nav {
    padding-top: 40px;
  }
  .clicked .menu {
    top: 20px;
  }
  .fixed {
    bottom: 17%;
  }
}
