* {
  padding: 0;
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #101010;
  color: #edf1f0;
}

/*
body.clicked {
    overflow: hidden;
}
*/
.light {
  background-color: #edf1f0;
  color: #101010;
}
.light a,
.light a:visited {
  color: #101010;
}

.dark {
  background-color: #101010;
  color: #edf1f0;
}
.dark a,
.dark a:visited {
  color: #edf1f0;
}

.tertiary1 {
  background-color: #5e6572;
}

.tertiary2 {
  background-color: #7d98a1;
  color: #edf1f0;
}

.tertiary3 {
  background-color: #a9b4c1;
  color: #101010;
}

section {
  position: relative;
}

.container {
  padding: 60px 12%;
}

section > .container {
  max-width: 1800px;
  margin: 0 auto;
}

.posrel {
  position: relative;
}

.posabs {
  position: absolute;
}

p {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.6;
}

h1 {
  font-size: 5em;
  line-height: 1.2em;
  margin-left: -5px;
  font-weight: 600;
}

h2 {
  font-size: 2.5em;
  line-height: 1.5em;
}

h1 span {
  padding-left: 30px;
}

h2,
h3 {
  font-weight: 400;
}

.menu {
  width: 100%;
  position: relative;
  z-index: 10;
}

.menu .container {
  padding-top: 0;
  padding-bottom: 0;
}

.menu ul {
  background-color: #5e6572;
  color: #edf1f0;
  width: 350px;
  padding: 60px;
  padding-top: 180px;
  position: fixed;
  right: 0;
  max-height: 100vh;
  overflow-y: scroll;
  transform: translateY(-100%);
  transition: transform 0.2s;
}

.clicked .menu ul {
  transform: translateY(0);
}

.menu li {
  list-style: none;
  margin: 10px 0;
}

.menu a,
.menu a:visited {
  color: #edf1f0;
  text-decoration: none;
}

.menu ul a:hover {
  text-decoration: underline;
}

#home .menu .divider {
  height: 10px;
  margin-top: 30px;
  margin-left: -50%;
  background-color: #7d98a1;
}
.burger-con.nojs {
  height: 30px;
  width: 30px;
  margin-bottom: -30px;
}
.menu.two {
  display: none;
  pointer-events: none;
}
.burger-con.nojs:hover .menu {
  display: block;
  pointer-events: initial;
}
.nojs .menu ul {
  transform: translateY(-150px);
}
#home {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 1100px;
}

.icons.container {
  padding-top: 130px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons .left {
  width: 50%;
  display: inline-block;
}

.icons svg {
  vertical-align: middle;
  height: 27px;
}

.icons a {
  text-decoration: none;
  margin-right: 15px;
}

.burger {
  width: 30px;
  cursor: pointer;
  z-index: 100;
  position: fixed;
  margin-left: 0;
  margin-top: -12px;
}

.burger.scroll {
  top: 60px;
}

.burger .line {
  height: 1px;
  background-color: #edf1f0;
  transition: opacity 0.2s, transform 0.2s;
}

.burger .line:nth-child(2) {
  margin: 10px auto;
  width: 50%;
  margin-right: 0;
}

.burger.clicked .line:first-child {
  /*transform: rotate(45deg) translate(8px, 7px);*/
  transform: rotate(-45deg) translate(-8px, 8px);
}

.burger.clicked .line:last-child {
  /*transform: rotate(-45deg) translate(8px, -8px);*/
  transform: rotate(45deg) translate(-8px, -7px);
}

.burger.clicked .line:nth-child(2) {
  opacity: 0;
}

#home .divider {
  margin-right: 100px;
  height: 10px;
  background-color: #a9b4c1;
}

#home .right {
  background-color: #7d98a1;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-left: 60px;
  width: 45%;
}
#home .right h2 {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 2px;
}
.arrow {
  margin-top: 40px;
}

.resize {
  display: none;
}

#about #height100 {
  background-color: #edf1f0;
  min-height: 300px;
  max-height: 350px;
  overflow-y: scroll;
  transition: max-height 0.3s ease-in-out;
}

#about::-webkit-scrollbar {
  width: 0;
  background: transparent;
  /* Safari and Chrome */
}

#about.active #height100 {
  max-height: 100vh;
}

#about > .container {
  padding-top: 0;
  padding-bottom: 0;
  background: linear-gradient(to right, transparent 50%, #edf1f0 50%);
  height: 100%;
}

#about .light {
  padding-top: 0;
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
}

#about .heading1 {
  text-align: center;
  background-color: #edf1f0;
  position: relative;
}

.heading1 h2 {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 4;
  font-size: 2em;
}

#about .left {
  width: 50%;
  padding-top: 130px;
}

#about .right {
  width: 45%;
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 60px;
  z-index: 2;
  padding-top: 30px;
  padding-bottom: 30px;
}

#about .right h2 {
  padding-top: 108px;
}

.bold {
  font-weight: bold;
}

#about .divider {
  height: 2px;
  margin: 5px 0;
}

.button.container {
  position: absolute;
  bottom: -1px;
  padding-top: 0;
  padding-bottom: 0;
}

.button img {
  vertical-align: middle;
  padding-left: 5px;
}

#about .button.container {
  right: 0;
  padding-left: 0;
}

.button a,
.button a:visited,
#pbtn p {
  background-color: #101010;
  color: #edf1f0;
  text-decoration: none;
  padding: 20px 60px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  font-weight: 300;
  transition: padding-bottom 0.2s;
  cursor: pointer;
}

.button a:hover,
#pbtn p:hover {
  padding-bottom: 30px;
}

#about .button a,
#portfolio .heading2 {
  width: 330px;
}

.heading2 {
  position: absolute;
  padding: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#portfolio .heading2 {
  right: 0;
}
.error {
  text-align: center;
  color: #101010;
  padding: 20px;
  font-size: 12px;
}
#portfolio {
  min-height: 180px;
  position: relative;
}

#portfolio > .container {
  padding-top: 0;
}

.gallery {
  padding-top: 120px;
}

.gallery .col {
  min-width: 260px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.col {
  width: 30%;
}

.image {
  background-color: #edf1f0;
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0;
  transition: 0.2s opacity, 0.2s background-position-x,
    0.2s background-position-y;
}

.image:hover {
  opacity: 0.5;
  background-position-x: 50%;
  background-position-y: 50%;
}

.col p {
  text-align: center;
}

.flex .col:nth-child(2) .image {
  height: 450px;
}

#portfolio .button {
  background-color: #edf1f0;
  padding-right: 0;
}

#portfolio .button a,
#portfolio .button a:visited,
#pbtn p {
  padding-left: 0;
  background-color: #edf1f0;
  color: #101010;
}

#pbtn .prev {
  display: none;
}

#portfolio.clicked #pbtn .prev {
  display: block;
}

#portfolio.clicked #pbtn .next {
  display: none;
}

#workinprogress {
  height: 750px;
  background-image: url("../img/wip.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #7d98a1;
}

#workinprogress .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101010;
  opacity: 0.8;
  transition: opacity 0.2s;
}

#workinprogress:hover .overlay {
  opacity: 0.5;
}

#workinprogress > .container {
  padding-top: 0;
  position: relative;
  z-index: 2;
}

#workinprogress .left {
  background-color: #101010;
  width: 350px;
  padding: 60px;
  padding-top: 130px;
  padding-bottom: 30px;
}

span {
  white-space: nowrap;
}

#workinprogress .heading1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
}

#workinprogress .heading1 h2 {
  width: 100%;
  text-align: left;
}

#workinprogress .heading2 {
  top: 0;
  background-color: #101010;
  width: 300px;
}

#contact .heading1 {
  text-align: center;
  margin-top: -108px;
}

#contact .heading1 h2 {
  background-color: #7d98a1;
}

#contact .container {
  display: inline-block;
  padding-right: 60px;
}

#contact p a {
  color: #edf1f0;
}

#footer .divider {
  margin-top: 100px;
  margin-bottom: 60px;
  height: 10px;
  width: 82%;
  margin-left: 15%;
}
#footer .container {
  padding-top: 0;
  padding-bottom: 130px;
}
#footer a,
#footer a:visited {
  color: #edf1f0;
}

#footer p {
  text-align: left;
  font-size: 12px;
}

.gallery {
  display: flex;
  flex-direction: row;
}

.gallery .flex {
  width: 100%;
  transition: width 0.5s, height 0.6s;
}

.gallery .p2 {
  width: 0;
  height: 0;
  overflow-x: hidden;
  background-color: #7d98a1;
}

.gallery .p2 .col {
  width: 300px;
}

.gallery .p2 .image,
.p2.flex .col:nth-child(2) .image {
  height: 300px;
  background-color: #edf1f0;
}

.p2.flex .col .image:nth-child(2) {
  margin-top: 40px;
  margin-bottom: 40px;
}

#portfolio.clicked .gallery .p1 {
  width: 0;
  overflow-x: hidden;
  height: 0;
}

#portfolio.clicked .gallery .p2 {
  width: 100%;
  height: 100%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 1000;
  text-align: center;
  padding: 20px 40px;
  overflow-y: scroll;
}

.popup div {
  width: 100%;
  text-align: right;
  max-width: 600px;
  margin: 0 auto;
}

.popup .close {
  width: 25px;
  height: auto;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.popup img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

@media (min-height: 880px) and (min-width: 1550px) {
  #about.active #height100 {
    max-height: 1000px;
  }
}

@media (min-width: 1650px) {
  #about #height100,
  #about.active #height100 {
    min-height: 350px;
  }
}

@media (max-height: 600px) {
  #about #height100,
  #about.active #height100 {
    height: unset;
    min-height: 350px;
  }
}

@media (max-width: 1100px) {
  .container {
    padding: 60px 7%;
  }

  .gallery .p2 .col {
    width: 260px;
  }

  .gallery .p2 .image,
  .p2.flex .col:nth-child(2) .image {
    height: 260px;
  }
}

@media (max-width: 1000px) {
  .flex {
    flex-direction: column;
  }

  .col,
  .gallery .col {
    min-width: 100%;
  }

  #about .right,
  #home .right {
    width: 60%;
  }
  #about .light {
    padding-bottom: 70px;
  }

  #portfolio .col p {
    display: none;
  }
  #portfolio .resize {
    padding-top: 10px;
    opacity: 1;
    display: block;
  }
  #portfolio .resize p {
    display: block;
  }

  .image {
    width: 48%;
    display: inline-block;
  }

  .gallery .p2 .col .image:last-child {
    width: 100%;
    height: 370px;
  }

  .p2.flex .col .image:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .col .image:first-child {
    margin-right: 3%;
  }
  .p1 .col .image:first-child {
    margin-right: 0;
  }
  .p1 .col .image:last-child {
    margin-left: 3%;
  }

  #about .left {
    width: 100%;
  }

  #about > .container {
    padding-right: 0;
  }

  #footer .flex {
    flex-direction: row;
  }

  #footer .col {
    min-width: 10px;
    width: unset;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 4em;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 2em;
  }

  .heading1 h2 {
    font-size: 1.5em;
  }

  p,
  #pbtn p,
  .button a,
  .button a:visited {
    font-size: 20px;
  }

  body.clicked {
    overflow-y: hidden;
  }

  .burger {
    right: 6%;
  }

  .menu {
    position: absolute;
    top: 0;
    overflow-y: scroll;
    background-color: #101010;
    height: 0;
    transition: height 0.2s;
  }

  .menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu a,
  .menu a:visited {
    font-size: 25px;
  }

  .icons.container {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .nojs .menu ul {
    transform: translateY(-100%);
  }
  .burger-con.nojs:hover .menu ul {
    transform: translateY(-100px);
  }
  body.clicked .menu ul {
    top: 30px;
    left: 30px;
  }

  body.clicked .menu {
    width: 100%;
    height: 100vh;
    position: fixed;
  }

  .container {
    padding: 40px 5%;
  }

  #title {
    position: relative;
    z-index: 5;
  }

  #title h1 {
    padding: 0 40px;
  }

  #title .arrow {
    display: none;
  }

  #home .right {
    width: 95%;
    padding-top: 155px;
    height: 54%;
  }
  #home .right h2 {
    font-size: 1.8em;
  }
  #home .arrow {
    position: absolute;
    bottom: 20px;
    z-index: 5;
    padding-bottom: 0;
  }

  .resize {
    display: block;
  }

  #home .arrow svg {
    margin-left: 40px;
  }

  #home .divider {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .heading1 h2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  #about .right {
    padding-left: 40px;
  }

  #about #height100 {
    min-height: 300px;
  }

  #about.active #height100 {
    max-height: 1400px;
  }

  #about .light {
    padding-bottom: 70px;
  }

  #home .right {
    padding-left: 5%;
  }

  #home .right h2 {
    text-align: center;
  }

  .heading2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .button a,
  .button a:visited {
    padding: 20px 40px;
  }

  #about > .container {
    padding-left: 0;
  }

  #about .light {
    padding-left: 5%;
    padding-right: 5%;
  }

  .heading1 h2 {
    width: 100%;
  }

  #about .button.container {
    left: 50%;
    transform: translate(-50%, 0%);
    padding-right: 0;
    text-align: center;
    width: 100%;
  }

  #about .right {
    width: 95%;
  }

  #portfolio .heading2 {
    left: 50%;
    transform: translate(-50%, 0%);
    right: unset;
  }

  #about .button a,
  #portfolio .heading2 {
    width: 250px;
  }

  .image {
    width: 100%;
    display: block;
  }

  .gallery .p2 .image,
  .p2.flex .col:nth-child(2) .image,
  .gallery .p2 .col .image:last-child {
    height: 400px;
  }

  .col .image:first-child,
  .p1 .col .image:last-child {
    margin-right: 0;
    margin-left: 0;
  }
  #portfolio .button {
    left: 50%;
    transform: translate(-50%, 0%);
    padding-right: 0;
    text-align: center;
    padding-left: 0;
    width: 335px;
  }

  #portfolio .button a,
  #portfolio .button a:visited {
    padding-left: 40px;
  }

  #pbtn {
    text-align: center;
  }

  #pbtn p {
    padding-left: 40px;
    padding-right: 40px;
    white-space: nowrap;
  }

  #workinprogress .heading1 {
    width: 100%;
  }

  #workinprogress .heading1 h2 {
    text-align: center;
  }

  #workinprogress .left {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    max-width: 90%;
  }

  #contact .left {
    background-color: #101010;
  }

  #contact .heading1 {
    width: 90%;
    margin: 0 auto;
    margin-top: -96px;
  }

  #footer .divider {
    width: 80%;
  }

  #footer .flex {
    flex-direction: column;
  }

  #footer .col {
    width: 100%;
  }

  .popup {
    padding: 10px 30px;
  }
}

@media (min-width: 1800px) {
  .menu {
    max-width: 1800px;
    margin: 0 auto;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    justify-content: flex-end;
  }

  .menu ul {
    margin-right: 0;
    right: unset;
  }
  .nojs .menu ul {
    transform: translate(-70%, -150px);
  }
  #home .divider {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #about > .container {
    background: none;
  }
  #about .container > div {
    background-color: #edf1f0;
  }
  #about {
    background: linear-gradient(to right, transparent 50%, #edf1f0 50%);
  }

  #about .light {
    padding-right: 60px;
  }

  #about .button.container {
    width: 100%;
    padding-right: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: right;
    position: relative;
  }

  #about .button a,
  #portfolio .heading2 {
    margin-right: 0;
  }

  #portfolio .posrel {
    margin: 0 auto;
  }

  #portfolio .button a,
  #contact p,
  #pbtn p {
    margin-left: 80px;
  }
  .popup div,
  .popup img {
    max-width: 750px;
  }
}
