* {
  padding: 0;
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

h1 {
  font-size: 5em;
  line-height: 1.2em;
  margin-left: -5px;
  font-weight: bold;
}

h2 {
  font-size: 3em;
  line-height: 1.7em;
  display: inline-block;
  position: relative;
}

h3 {
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  display: inline-block;
}

.light {
  background-color: #ffffff;
  color: #000000;
}
.light a,
.light a:visited {
  color: #000000;
}

.dark {
  background-color: #000000;
  color: #ffffff;
}
.dark a,
.dark a:visited {
  color: #ffffff;
}

.blue1 {
  background-color: #04182f;
  color: #ffffff;
}

.blue2 {
  background-color: #c5d2e0;
  color: #000000;
}

section {
  position: relative;
}

.container {
  padding: 60px 12%;
}

section > .container {
  max-width: 1800px;
  margin: 0 auto;
}

.posrel {
  position: relative;
}

.posabs {
  position: absolute;
}

.flex {
  display: flex;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
.button {
  position: absolute;
  bottom: 0;
  z-index: 3;
}
.button.container {
  padding-top: 0;
  padding-bottom: 0;
}
.button a,
.button a:visited,
.button p {
  background-color: #c5d2e0;
  color: #000000;
  padding: 15px 50px;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  font-size: 18px;
  line-height: 18px;
  transform: translateY(25%);
  letter-spacing: 1px;
  font-weight: 400;
  animation-name: reset;
  animation-duration: 0.2s;
  cursor: pointer;
}
.button a:hover,
.button p:hover {
  animation-name: btn;
  animation-duration: 1s;
}
.button p span {
  font-family: inherit;
}
.button img {
  padding-left: 5px;
}

@keyframes reset {
  to {
    transform: translateY(30%);
  }
}
@keyframes btn {
  0% {
    transform: translateY(30%);
  }
  30% {
    transform: translateY(20%);
  }
  70% {
    transform: translateY(40%);
  }
  100% {
    transform: translateY(30%);
  }
}

.menu {
  width: 100%;
  position: relative;
  z-index: 50;
}

.menu .container {
  padding-top: 0;
  padding-bottom: 0;
}

.menu ul {
  background-color: #04182f;
  color: #ffffff;
  width: 380px;
  padding: 60px;
  padding-top: 180px;
  position: fixed;
  right: 0;
  max-height: 100vh;
  overflow-y: scroll;
  transform: translateY(-100%);
  transition: transform 0.2s;
}
#home .menu .divider {
  margin-top: 30px;
  margin-left: -50%;
  background-color: #c5d2e0;
}

.clicked .menu ul {
  transform: translateY(0);
}

.menu li {
  list-style: none;
  margin: 10px 0;
}

.menu a,
.menu a:visited {
  color: #edf1f0;
  text-decoration: none;
  white-space: nowrap;
}

.menu ul a:hover {
  text-decoration: underline;
}
.menu .reveal span,
.menu .reveal span:first-child {
  text-decoration: none;
}
.menu .reveal:hover span:first-child {
  display: none;
}
.burger-con.nojs {
  height: 30px;
  width: 30px;
  margin-bottom: -30px;
}
.menu.two {
  display: none;
  pointer-events: none;
}
.burger-con.nojs:hover .menu {
  display: block;
  pointer-events: initial;
}
.nojs .menu ul {
  transform: translateY(-150px);
}
#home {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
}

.icons.container {
  padding-top: 110px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons .left {
  width: 50%;
  display: inline-block;
}

.icons svg {
  vertical-align: middle;
  height: 27px;
}
.icons svg path {
  stroke: #04182f !important;
}

.icons a {
  text-decoration: none;
  margin-right: 15px;
}

.burger {
  width: 30px;
  cursor: pointer;
  z-index: 100;
  position: fixed;
  margin-top: -12px;
  margin-left: -30px;
  transition: margin-top 0.3s;
}

.burger.scroll {
  margin-top: -70px;
}

.burger .line {
  height: 1px;
  background-color: #04182f;
  transition: opacity 0.2s, transform 0.2s, background-color 0.2s;
}

.burger .line:nth-child(2) {
  margin: 10px auto;
  width: 50%;
  margin-right: 0;
}

.clicked .burger .line {
  background-color: #ffffff;
}
.clicked .burger .line:first-child {
  /*transform: rotate(45deg) translate(8px, 7px);*/
  transform: rotate(-45deg) translate(-8px, 8px);
}

.clicked .burger .line:last-child {
  /*transform: rotate(-45deg) translate(8px, -8px);*/
  transform: rotate(45deg) translate(-8px, -7px);
}

.clicked .burger .line:nth-child(2) {
  opacity: 0;
}
.hero {
  padding-top: 70px;
  padding-bottom: 100px;
}
.divider {
  height: 7px;
  background-color: transparent;
}
#home .divider {
  margin-right: 12%;
  background-color: #000000;
}
#title {
  padding-bottom: 0;
  position: relative;
  z-index: 5;
}
#title h1 {
  margin-left: 80px;
}
#title .arrow {
  position: absolute;
  bottom: -100%;
  z-index: 10;
  transition: bottom 0.2s;
}
.arrow:hover {
  animation-name: updown;
  animation-duration: 0.5s;
}

@keyframes updown {
  0% {
    bottom: -100%;
  }
  50% {
    bottom: -105%;
  }
  100% {
    bottom: -100%;
  }
}

.resize {
  display: none;
}
.center {
  text-align: center;
  margin-top: -40px;
  position: relative;
}
.center h3 {
  padding: 80px;
  background-color: #c5d2e0;
  position: relative;
  z-index: 2;
  width: 70%;
  min-width: 615px;
}
.circle1 {
  right: 30px;
  bottom: 50%;
}
.circle2 {
  right: 12%;
  top: 6px;
  z-index: 2;
}
.bottom.container {
  width: 100%;
  z-index: 3;
  bottom: 0;
  transform: translateY(50%);
}
.top ul {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}
.top ul li {
  list-style: none;
  display: inline-block;
  font-family: "Barlow Condensed", "Arial Narrow", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 8px;
  white-space: nowrap;
}
.top.container {
  width: 100%;
  z-index: 3;
  top: 0;
  transform: translateY(-60%);
}

#about {
  background-color: #c5d2e0;
}

h2:after {
  content: "";
  display: inline-block;
  height: 7px;
  width: 100%;
  margin-left: 50px;
  background: #000000;
  position: absolute;
  left: 0;
  bottom: 0;
}
.text .divider {
  opacity: 0;
  height: 20px;
}
#height100 {
  padding-top: 60px;
  padding-bottom: 20px;
  min-height: 150px;
  max-height: 150px;
  overflow-y: scroll;
  transition: 0.3s max-height;
}
.expand {
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 6;
  text-align: center;
  bottom: 40px;
}
.expand a {
  padding: 0 0 !important;
  width: 40px;
  height: 40px;
  background-color: #c4d2e0 !important;
  border: 1px solid #000000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: none !important;
  transition: 0.2s background-color;
}
.expand a:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.expand img {
  padding-left: 0;
}
#about.active #height100 {
  max-height: 100vh;
}
#about.active .expand {
  display: none;
  pointer-events: none;
}
#about .button a {
  background-color: #04182f;
  color: #ffffff;
}
.reveal {
  cursor: text;
}
.reveal span:first-child {
  text-decoration: underline;
}
.reveal:hover span {
  text-decoration: none;
}
.reveal span:last-child {
  display: none;
  font-weight: 400;
  transition: 0.2s opacity;
}
.reveal:hover span:last-child {
  display: inline;
  opacity: 1;
}
nav .reveal span:last-child {
  transition: 0s opacity;
}

.gallery {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s transform, 0.4s opacity;
}
.n-active .gallery {
  transform: translateX(0);
  opacity: 1;
  transition: none;
}
.active .gallery {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.4s;
}
.page {
  justify-content: space-between;
  width: 0;
  height: 0;
  overflow-x: hidden;
  background-color: #ffffff;
  transition: width 0.4s, height 0.6s;
}
.page.active {
  width: 100%;
  height: 100%;
}
.col {
  width: 300px;
}
.image {
  overflow: hidden;
  position: relative;
  background-color: #04182f;
  color: #ffffff;
  height: 300px;
  width: 100%;
  border: 1px solid #04182f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 0;
  transition: 0.2s opacity, 0.2s background-position-x,
    0.2s background-position-y;
}
.image:hover {
  background-position-x: 50%;
  background-position-y: 50%;
}
.col .image:not(:last-child) {
  margin-bottom: 50px;
}
.error {
  text-align: center;
  padding: 20px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.85;
}
.image .overlay {
  background-color: #04182f;
  transform: translateY(100%);
  transition: 0.2s transform;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}
.image:hover .overlay {
  transform: translateY(0);
}
.description {
  color: #ffffff;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  overflow-y: scroll;
}
.popup div {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: right;
}
.close {
  width: 18px;
  cursor: pointer;
}
.popup > img {
  width: 600px;
  margin: 0 auto;
}
.popup div,
.popup img {
  max-width: 100%;
}
#pbtn {
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
#pbtn .prev {
  display: none;
}

#workinprogress {
  background-image: url("../img/slideshow1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#workinprogress h2:after {
  background: #ffffff;
}
#workinprogress .heading,
.text {
  position: relative;
  z-index: 4;
}
.text {
  padding-top: 60px;
}
#workinprogress .text a {
  text-decoration: underline;
}

#footer p {
  text-align: left;
  font-size: 12px;
}
#footer p:last-child {
  word-spacing: 5px;
}

@media (min-height: 880px) and (min-width: 1500px) {
  #about.active #height100 {
    max-height: 800px;
  }
}

@media (max-width: 1100px) {
  .container {
    padding: 60px 7%;
  }
  .gallery .col {
    width: 260px;
  }
  .gallery .image {
    height: 260px;
  }
}

@media (max-width: 1000px) {
  .image {
    width: 48%;
    display: inline-block;
  }
  .col,
  .gallery .col {
    min-width: 100%;
  }
  .flex {
    flex-direction: column;
  }
  .page .col:not(:last-child) {
    margin-bottom: 25px;
  }
  .col .image:not(:last-child) {
    margin-bottom: 0;
  }
  .col .image:nth-child(2) {
    margin-left: 3%;
  }
  .col .image:nth-child(3) {
    width: 100%;
    margin-top: 25px;
  }
}

@media (max-width: 800px) {
  body.clicked {
    overflow: hidden;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1em;
    letter-spacing: 4px;
  }
  p,
  .button a,
  .button a:visited,
  .button p {
    font-size: 15px;
  }
  .button a,
  .button a:visited,
  .button p {
    line-height: 15px;
    padding: 15px 30px;
  }
  .button img {
    margin-bottom: -1px;
  }
  .container {
    padding: 40px 6%;
  }
  #height100,
  .gallery,
  .text {
    padding-top: 40px;
  }
  #home {
    height: initial;
    padding-bottom: 200px;
  }
  .icons.container {
    padding-top: 100px;
  }
  .divider,
  h2::after {
    height: 5px;
  }
  .text .divider {
    height: 10px;
  }
  .icons.container {
    padding-bottom: 40px;
  }
  .burger.scroll {
    margin-top: -50px;
  }
  .menu ul {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu a {
    font-size: 20px;
  }
  #title h1 {
    margin-left: 0;
  }
  .center {
    margin-top: -30px;
  }
  .center h3 {
    width: 90%;
    min-width: 90%;
    padding: 60px 20px;
    margin-left: 9%;
  }
  .circle1 {
    bottom: 20%;
  }
  .circle2 {
    right: 7%;
    top: -16px;
  }
  #title .arrow {
    bottom: initial;
    margin-top: 30px;
  }
  .arrow:hover {
    animation: none;
  }
  .top.container {
    transform: translateY(-80%);
    padding-top: 0;
    padding-bottom: 0;
  }
  .top ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .top ul li {
    font-size: 12px;
  }
  .image,
  .col .image:nth-child(2),
  .col .image:nth-child(3),
  .page .col:not(:last-child) {
    width: 100%;
    margin: 0 0 0 0;
  }
  .col .image {
    margin-bottom: 20px !important;
    background-position-x: 50%;
    background-position-y: 50%;
  }
  .popup {
    padding: 30px 20px;
  }
  .close {
    width: 25px;
  }
}

@media (max-width: 600px) {
  .top ul li {
    font-size: 11px;
  }
  .circle1 {
    bottom: -80%;
    right: initial;
    left: 50%;
    transform: translate(-40%, 0);
  }
  .circle2 {
    bottom: -80%;
    right: initial;
    top: 80%;
    left: 50%;
    transform: translate(100%, 0);
  }
  .expand {
    bottom: 50px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 3.5em;
    line-height: 1.1em;
  }
  h2 {
    font-size: 2em;
    line-height: 1.6em;
  }
  h3 {
    font-size: 0.9em;
    letter-spacing: 3px;
  }
  .center h3 {
    white-space: nowrap;
    padding: 60px 10px;
  }
  #home {
    height: initial;
    padding-bottom: 240px;
  }
  .menu a {
    font-size: 16px;
  }
  .icons.container {
    padding-top: 80px;
  }
  .icons .left {
    width: 70%;
  }
  .icons a {
    margin-right: 10px;
  }
}

@media (max-width: 360px) {
  .icons.container {
    padding-top: 60px;
  }
  h3 {
    font-size: 13px;
    letter-spacing: 2px;
  }
  .center h3 {
    white-space: normal;
  }
}

@media (min-width: 1600px) {
  .menu {
    max-width: 1800px;
    margin: 0 auto;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    justify-content: flex-end;
  }
  .menu ul {
    right: unset;
  }
  .top.container {
    left: 50%;
    transform: translate(-50%, -60%);
  }
}

@media (min-width: 1000px) {
  #home {
    min-height: 720px;
  }
  #about.active #height100 {
    max-height: 500px;
  }
}
