body.one {
  background-color: #F7AD54;
}

.firstpage {
  padding: 200px 0px;
  text-align: center;
}

header {
  background-color: #F7AD54;
  border: none;
  padding: 5px 0px;
}

.theheader {
  padding: 0px 60px;
}

.menu {
  float: right;
  padding: 15px 0px;
}

.btn {
  border: none;
  background-color: inherit;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
}

.btn:hover {
  color: white;
}

.dropdown {
  font-family: "calibri", sans-serif;
  border: none;
  background-color: inherit;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(211, 211, 211, 0.315);
}

.dropdown-content a {
  color: black;
  padding: 14px 10px;
  text-decoration: none;
  display: block;
  font-weight: normal;
}
/*
.dropdown-content a:hover {
  color: black;
  color: white;
}
*/
.dropdown:hover .dropdown-content {
  display: block;
}


.link {
  font-family: "calibri", sans-serif;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

.port:hover {
  color: #F7AD54;
}
a:hover {
  color: white;
  text-decoration: none;
}

.mainimg {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.pagetitle {
  color: white;
  font-family: 'impact', sans-serif;
  font-size: 400%;
  letter-spacing: 5px;
  line-height: 0;
}

.description {
  font-family: 'calibri', sans-serif;
  padding: 20px 0px;
  letter-spacing: 0.5px;
}

.regparagraph {
  font-family: "calibri", sans-serif;
  color: black;
}

.btn.viewportfolio {
  border: none;
  background-color: white;
  font-family: "Calibri", sans-serif;
  padding: 20px 30px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1.5px;
}

/*
about page
*/
body.about {
  background-color: rgb(44, 44, 44);
}
.abouttitle {
  color: #F7AD54;
  font-family: 'impact', sans-serif;
  letter-spacing: 0.5px;
  line-height: 0;
}

.aboutdescription {
  font-family: 'calibri', sans-serif;
  padding: 20px 200px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: white;
}
