h2 {
  margin: 20px 0;
}

section .container {
  padding-top: 0;
  width: 830px;
  max-width: 100%;
  margin: 0 auto;
}

.border .container {
  padding-left: 9%;
  padding-right: 9%;
}

ul {
  margin-left: 25px;
}

ul li {
  padding-left: 10px;
}

#projtitle {
  padding-top: 30px;
}

#projtitle .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
  height: 200px;
}

#projtitle .left {
  width: 200px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border: 2px solid #000;
}

#projtitle .left img {
  vertical-align: middle;
}

#projtitle .right {
  height: 68%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  width: 100%;
}

#projtitle .right h1,
#projtitle .right p {
  padding-left: 20px;
}

#projtitle h1 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#projtitle h1::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 105%;
  background: #000;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.5s width;
  transition: 0.5s width;
}

.border {
  border: 2px solid #000;
  margin: 5% 8%;
  padding-top: 30px;
}

.casestudy img {
  margin: 10px 0;
}

.casestudy .card img {
  margin: 0;
}

.colours {
  padding-top: 5px;
}

.colours span {
  padding: 20px 5px 5px 5px;
  margin: 10px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  color: #fff;
  border: 2px solid #000;
}

.images {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.images .card {
  margin: 15px 0;
  -ms-flex: 0 0 200px;
  -webkit-box-flex: 0;
          flex: 0 0 200px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  background: #fff;
  border: 2px solid #000;
  opacity: 0;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: 1s opacity, 1s -webkit-transform;
  transition: 1s opacity, 1s -webkit-transform;
  transition: 1s opacity, 1s transform;
  transition: 1s opacity, 1s transform, 1s -webkit-transform;
  position: relative;
}

.images .card.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.final img {
  border: 2px solid #000;
}

#projtitle .left,
#projtitle p {
  -webkit-animation: opacityanim 1.3s;
          animation: opacityanim 1.3s;
}

.border {
  -webkit-animation: opacityanim 0.3s;
          animation: opacityanim 0.3s;
}

.border .container {
  -webkit-animation: opacityanim 1.3s;
          animation: opacityanim 1.3s;
}

@media screen and (max-width: 1100px) {
  .border {
    margin: 5%;
  }
  .border .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 900px) {
  #projtitle .left {
    max-width: 100%;
  }
  #projtitle .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
    text-align: center;
    padding-bottom: 15px;
  }
  #projtitle .right {
    position: relative;
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    padding-left: 0;
    padding-bottom: 15px;
  }
  #projtitle .right h1,
  #projtitle .right p {
    padding-left: 0;
  }
  #projtitle h1::after {
    width: 100%;
    left: 0;
    right: unset;
  }
  .colours {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .border .container,
  #projtitle .left,
  #projtitle p {
    -webkit-animation: opacityanim 2s;
            animation: opacityanim 2s;
  }
}

@media screen and (min-width: 1200px) {
  section .container {
    width: 100%;
  }
  #projtitle .container,
  .casestudy {
    width: 830px;
    margin: 0 auto;
    max-width: 100%;
  }
  #projtitle .container {
    padding: 0;
  }
}
/*# sourceMappingURL=project.css.map */
